<div class="row">
  <%= form_for [outfit_user, outfit] do |f| %>

    <div class="six columns">
        <%= f.hidden_field :user_id %>
        <%= f.label :name, "Outfit Name" %>
        <%= f.text_field :name %>

        <div class=<%= items_div_class(outfit) %>>
          <%= outfit_error_message(outfit) %>

          <% Category.all.each do |category| %>
            <%= render partial: 'categories/category_checklist', locals: {category: category, f: f} %>
          <% end %>

        </div>
    </div>

    <div class="five columns">
      <div class="new-item-outfit">
        <h5>Add a new clothing item for this outfit</h5>

          <%= outfit_item_error(item) %>

          <% item ||= outfit_user.clothing_items.build %>

          <%= f.fields_for item do |c| %>
            <%= render partial: 'clothing_items/form_fields', locals: { clothing_item: item, f: c } %>
          <% end %><br>

      </div>
      <%= f.submit %>
      <%= delete_link(@user, @outfit) %>
    </div>

  <% end %>
</div>
