<div class="outfit">
  <%= outfit.name %>

  <ul>
    <% outfit.clothing_items.each do |clothing_item| %>
      <li><%= clothing_item.name %> | <%= clothing_item.color %> | <%= word_fanciness(clothing_item) %></li>
    <% end %>
  </ul>

  <%= link_to "Details", user_outfit_path(outfit.user, outfit), class: "details-outfit" %>
</div>
