<% if category.clothing_items.users(current_user).all.size > 0 %>
<div class=<%= category.name %>>
  <h5 class="category-name"><%= category.name %></h5>

    <%= f.collection_check_boxes :clothing_item_ids, category.clothing_items.users(current_user).all, :id, :name do |b| %>
      <div class="clothing-item">
        <%= b.check_box %> <%= content_tag(:label, attributes_display(b.object), for: "outfit_clothing_item_ids_#{b.object.id}") %>
      </div>
    <% end %>
</div>
<% end %>
