<%= header("categories") %>

<% @categories.in_groups_of(4, false).each do |set| %>
  <div class="row">
    <% set.each do |category| %>
    <div class="category three columns" id=<%= "#{category.name}-div" %>>
      <h3><%= category.name %></h3>
      <p><a href="#" class="category-link" data-id=<%= category.id %>><%= "View #{category.name}" %></a></p>
    </div>
    <% end %>
  </div>
<% end %>
