<!DOCTYPE html>
<html>
  <head>
    <title>CapsulizeRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="section">
      <h3><%= yield :h3 %></h3>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>


    <!-- I do not particularly like that this is here -->
    <!-- Category show template -->
    <%= render 'categories/show_handlebars' %>
    <!-- outfit show template -->
    <%= render 'outfits/show_handlebars' %>
  </body>
</html>
