<!DOCTYPE html>
<html>
  <head>
    <title>CapsulizeRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="section">
      <h2><%= yield :h2 %></h2>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
